<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Timeline pictures -->
  <ion-tab title="Pictures" icon="ion-person" href="#/tab/pictures">
    <ion-nav-view name="tab-pictures"></ion-nav-view>
  </ion-tab>

  <!-- Timeline icons -->
  <ion-tab title="Icons" icon="ion-heart" href="#/tab/icons">
    <ion-nav-view name="tab-icons"></ion-nav-view>
  </ion-tab>


</ion-tabs>
